/* Start globar rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' -25,
  'opsz' 48
}

:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s ease;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .main-title {
    background-color: white;
    margin: 100px auto;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 2s;
    cursor: pointer;
  }
  
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  
  .main-title:hover{
    color: white;
    border: 3px solid white;
  }
  
  .main-title:hover::before {
    z-index: -1;
    animation: fill-animation-left 0.5s linear forwards;
  
  }
  
  .main-title:hover::after {
    z-index: -1;
    animation: fill-animation-right 0.5s linear forwards;
  }  

  .spikes{
    position: relative;
  }

  .spikes::after{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 100;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
      linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
  }

  .spike::after{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 100;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg,var(--section-background) 25%, transparent 25%),
      linear-gradient(225deg, var(--section-background) 25%, transparent 25%);
    background-size: 30px 30px;
  }
/* End globar rules */

/* Start header*/
.header{
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    width: 100%;
}

.header .container{
 
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
}

.header .logo{
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media (max-width: 767px){
  .header .logo{
    width: 100%;
    height: 50px;
  }
}

.header .main-nav{
    display: flex;
}

@media (max-width: 767px){
  .header .main-nav{
    margin: auto;
  }
}

.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
    cursor: pointer

}

@media (max-width: 767px){
  .header .main-nav > li > a{
  padding: 10px;
  font-size: 14px;    
  height: 40px;
  }
}

.header .main-nav > li > a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  right: -100%;
  transition: 0.5s ease;

}

.header .main-nav > li > a:hover{
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a:hover::before{
  right: 0;
}


.header .mega-menu{
  position: absolute;
  width: end;
  left: 30px;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
  opacity: 0;
  display: none;
;}

@media (max-width: 771px) {
  .header .mega-menu{
    flex-direction: column;
    padding: 5px;
    left: 0;
  }
}

.header .main-nav > li:hover .mega-menu {
  display: flex;
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}


.header .mega-menu .links{
 min-width: 250px;
 flex: 1;
}

.header .mega-menu .links li{
  position: relative;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:first-child{
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
}
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li:not(:last-child){
  border-bottom: 1px solid #e6e6e6;
  border-left: none;

}


.header .mega-menu .links li a{ 
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}




.header .mega-menu .links li i{
  margin-left: 10px;
}

@media (max-width: 767px) {
  .header .logo{
    width: 100%;
    height: 50px;
  }

  }


/* End header*/

/* Start main section */
  .main-section{
    position: relative;
  }

  .main-section::before{
    content: "";
    position: absolute;
    left: 0;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }

  .main-section .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
  }

  @media (max-width: 992px){
    .main-section .container{
      flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  .main-section .image img{
    position: relative;
    width: 550px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
  }
  .down{
    display: none;
  }
  @media (max-width: 767px){
    .main-section .image img{
      width: 450px;
      margin-top: 100px;
    }
  }

  .main-section .text{
    flex: 1;
  }

  @media (max-width: 767px){
    .main-section .text{
      text-align: center;
    }
  }

  .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: 0;
  }
  @media (max-width: 767px) {
    .main-section .text h1 {
      font-size: 28px;
    }
  }
  .main-section .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
  }
  
  .main-section .text span {
    font-size: 18px;
  }
  @media (max-width: 991px) {
    .main-section .text p {
      font-size: 18px;
    }
  }


 

  .main-section .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);  
    z-index: 99;

  }

  .main-section .go-down i{
    font-size: 30px;
    animation: bouncing 1.5s infinite;
  }

  .main-section .go-down:hover{
    color: var(--main-color-alt);
  }

  .up{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    bottom: -50px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    z-index: 999;
    transition: 0.2s ease;
    
}

@media (max-width: 992px) {
  .up{
  right: 15px;
  }
}

.up.show{
    bottom: 20px;
}





.sounds{
    background-color: #000016;
    background-size: cover;
    background-position: top;
}

/* End main section */
/* start about us  */
.about-us{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.about-us .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:40px;
}

.about-us .box{
  text-align: center;
  border: 1px solid #ccc;
  cursor: default;
  position: relative;
  max-height: 680px;
}


.about-us .royah .img-holder::before{ 
  background-color: rgb(23 120 224 / 60%);
}


.about-us .royah h2::after{
  background-color: #1778e0;

}

.about-us .royah a{
  color: #1778e0;
  background: linear-gradient(to right, #1778e0 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.about-us .hadaf .img-holder::before{ 
  background-color: rgb(22 199 154 / 60%);
}

.about-us .hadaf h2::after{
  background-color: #16C79A;

}

.about-us .hadaf a{
  color: #16C79A;
  background: linear-gradient(to right, #16C79A 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  position: relative;
  top: -38px;
}

.about-us .test .img-holder::before{ 
  background-color: rgb(246 236 114 / 60%);
}

.about-us .test h2::after{
  background-color: #dece16;

}

.about-us .test a{
  color: #dece16;
  background: linear-gradient(to right, #dece16 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.about-us .box .img-holder{
  overflow: hidden;
  position: relative;
}

.about-us .box .img-holder::before{
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}

.about-us .box .img-holder::after{
  content: "";
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: Transparent transparent white transparent;
  transition: var(--main-transition);
}


.about-us .box .img-holder img{
  max-width: 100%;
}

.about-us .box:hover .img-holder::after{
  border-width: 170px 500px 170px 0;
  border-color: Transparent transparent white transparent;

}

.about-us .box h2{
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.about-us .box h2::after{
  content: "";
  position: absolute;
  bottom: -20px;
  right: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.about-us .box p{
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.about-us .box a{
  display: block;
  border: 3px solid ;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 20px;
  transition: var(--main-transition);
  border-radius: 6px;
  transition: var(--main-transition);
}

.about-us .hadaf p{
  font-size: 15px;
}

.about-us .box:hover a{
  background-position: left bottom;
  color: white;
}

/* Endd about us  */

/* Start featurese  */
  .cards {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
  }
  .cards .content-a{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards .card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
    cursor: default;
  }

  .card:hover{
    transform: scale(1.1);
  }
  .cards .icon-a i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 8em;
    text-align: center;

  }

  .cards .info{
    text-align: center;
  }

  .cards .info h3{
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }

  .cards .info p{
    line-height: 30px;
  }
/* End featurese  */

/* start curses */
  .curses{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }

  .curses .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .curses .box{
    width: 23em;
    margin: 25px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition) , box-shadow var(--main-transition);
  }

  .curses .box:hover{
    transform: translateY(-10px);
    box-shadow:translateY(-20px);
    ;
  }


  .curses .box img{
    max-width: 100%;
  }


  .curses .box .content{
    padding: 20px;
  }

  .curses .box .content h3{
    margin: 0;
    cursor: default;
  }

  .curses .box .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
    padding-bottom: 10px;
    cursor: default;
  }

  .curses .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .curses .box .info a{
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
  }

  .curses .box .info i{
    color: var(--main-color);
  }

  .curses .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
  }

  .iframe-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;;
    background: rgba( 0, 0, 0, 0.8);
   height: 50%;
   width: 50%;
}


.iframe-container iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 3px solid #2196f3;
    border-radius: 30px;
    object-fit: cover;
    background-color: #ececec;
    height: 100%;
    width: 40%;
}

@media (max-width: 950px) {
  .iframe-container iframe{
    top: 53%;
    height: 93%;
    width: 100%;

  }
}

.iframe-container.show {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;;
    background: rgba( 0, 0, 0, 0.8);
   height: 100%;
   width: 100%;
}

.iframe-container button{
  position: absolute;
  top: -2px;
  right: 0px;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  background: none;
  border: none;
  z-index: 1000;
  cursor: pointer;
}



.iframe2-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;;
  background: rgba( 0, 0, 0, 0.8);
 height: 50%;
 width: 50%;
}


.iframe2-container iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 3px solid #2196f3;
  border-radius: 30px;
  object-fit: cover;
  background-color: #ececec;
  height: 100%;
  width: 40%;
}

@media (max-width: 950px) {
.iframe2-container iframe{
  top: 53%;
  height: 93%;
  width: 100%;

}
}

.iframe2-container.show {
  display: inline;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;;
  background: rgba( 0, 0, 0, 0.8);
 height: 100%;
 width: 100%;
}

.iframe2-container button{
position: absolute;
top: -2px;
right: 0px;
font-size: 50px;
color: #fff;
font-weight: bolder;
background: none;
border: none;
z-index: 1000;
cursor: pointer;
}


/* End curses */

/* Start footer  */
.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 300;

}

.footer-title span{
    color: var(--main-color);
    margin-top: 50px;
}

.footer .social-icons a{
    font-size: 1em;
    padding: 0 12px 0 0;
    transition: 0.7s ease;
    color: white;
}

.footer .social-icons a:hover{
    color: var(--main-color);
}

@media (max-width:500px){
  .footer-title{
      font-size: 13px;
  }
}
/* End footer  */

/* Start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }
  40%,60%{
    transform: translateY(-15px);
  }
}

@keyframes fill-animation-left {
  50%{
    width: 12px;
    height: 12px;
    left: 0;
  }  

  100%{
    border-radius: 0;
    width: 50%;
    left: 0;
    height: 100%;

  }

  
}
@keyframes fill-animation-right {
  50%{
    width: 12px;
    height: 12px;
    right: 0;
  }  

  100%{
    border-radius: 0;
    width: 100%;
    right: 0;
    height: 100%;

  }
}

@keyframes moving-arrow {
  100%{
    transform: translateX(10px);
  }
}
/* End animation */


